<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
        {{ bootstrap.load_css() }}
        {% endblock %}
        <title>Job Positions Database</title>
        <style>
            body {
            background-color: rgb(229,184,255);
            }
        </style>
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <div class="container mb-4">  
            <div class="card mt-4">
                <div class="card-body">
                    <h2 
                    class="card-title;"
                    style = "color: rgb(169, 57, 235); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" > Add your company's position for our Hot Girlz! </h2>

                    <form method="POST" action="/">
                    {{ form.csrf_token }}
                    {{ form.job_position.label }} 
                    {{ form.job_position(size=32) }}
                    <br>
                    {{ form.job_description.label }}
                    {{ form.job_description(size=32)}}
                    <br>
                    {{ form.job_link.label }}
                    {{ form.job_link(size=32) }}
                    <br>
                    {{ form.recruitor_info.label }}
                    {{ form.recruitor_info(size=32) }}
                    <br>
                    <br>
                    <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('mp') }}" class="card-link">Take me back to the Hot Girlz Main Page!</a>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>