<!-- Title: vgh.html  -->
<!-- Author: Stephanie Hernandez -->
<!-- Class: CST 205 -->
<!-- Prof: Avner Biblarz -->
<!-- CST 205 Final Project  -->
<!-- Abstract: GitHub Information Template, will show
     all the poeple's Github repos post made on the connect page. -->
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
        {{ bootstrap.load_css() }}
        {% endblock %}
        <title>GitHub Repos</title>
        {% endblock %}
        <style>
            body{
                background-color: rgb(229, 184, 255);
            }
        </style>
    </head>
    <body>
        {% block content %}
        <div class="container mb-4">  
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">GitHub Repos:</h2>
                    <ol class="list-group">
                        <!-- Displays GitHub repo Info -->
                        {% for item in repos %}
                        <li>
                            <ul class="list-group-item">
                            Name: {{ item.name }}
                            <br>
                            Project: <a href="{{ item.link }}">{{ item.project }}</a>
                            <br>
                            Description: {{ item.description }}
                            </ul>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('p4') }}" class="card-link">Go Back</a>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>