<!-- Title: vppl.html  -->
<!-- Author: Stephanie Hernandez -->
<!-- Class: CST 205 -->
<!-- Prof: Avner Biblarz -->
<!-- CST 205 Final Project  -->
<!-- Abstract: LinkedIn Information Template, will show
     all the poeple's LinkedIn profiles and information so
     they can contact one another. -->
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
        {{ bootstrap.load_css() }}
        {% endblock %}
        <title>LinkedIn Profiles</title>
        {% endblock %}
        <style>
            body{
                background-color: rgb(229, 184, 255);
            }
        </style>
    </head>
    <body>
        {% block content %}
        <div class="container mb-4">  
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">LinkedIn Profiles:</h2>
                    <ol class="list-group">
                        <!-- Displays each person's LinkedIn Info -->
                        {% for item in people %}
                        <li>
                            <ul class="list-group-item">
                            {{ item.name }} - <a href="{{ item.link }}">({{ item.occupation }})</a>
                            </ul>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('p4') }}" class="card-link">Go Back</a>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>